.contact-sec {
  background-image: url(images/World\ Map.svg);
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  overflow: hidden;
}

.details-box {
  display: flex;
  height: 100%;
  width: 40%;
  background-color: rgb(255, 255, 255);
  padding: 10%;
  flex-direction: column;
}

.details-box form {
  padding: 0 40px;
  box-sizing: border-box;
}

form .txt-field {
  position: relative;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.txt-field input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 16px;
  border: none;
  outline: none;
  background: none;
}
.txt-field label {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

  button[type="submit"] {
  width: 45%;
  height: 40px;
  border: 1px solid black;
  border-radius: 8px;
  background-color: #24262b;

  color: white;
}

@media (max-width: 669px) {
  .contact-sec {
    background-image: none;
  }
  .chead {
    color: white;
    display: none;
  }
  .details-box {
    height: 100vh;
    width: 100%;
    background-image: url(images/World\ Map.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 15% 15% 5px 15%;
  }
  form .txt-field {
    border-bottom: 2px solid white;
    margin: 30px 0;
    color: white;
  }
  .txt-field input {
    color: white;
    padding: 0 5px;
  }
  input[type="submit"] {
    width: 100%;
    height: 40px;

    border-radius: 8px;
    background-color: white;

    color: black;
  }
  .details-box form {
    padding: 100px 40px;
  }
}
